<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <title>Class Plannr - Sign In</title>
  </head>
  <body>
    <header class="hero">
      <div class="hero-body">
        <h1 class="title">Class plannr</h1>
        <h2 class="subtitle">A class schedule application tracker.</h2>
      </div>
    </header>
    <main>
      <section class="image">
        <div class="index-div">
          <img src="index-img.jpg" alt="schedule and pen" />
        </div>
      </section>


      <section class="box container is-max-tablet signIn-card">
        <h3 class="title is-4">Sign-In</h3>
        <div class="field">
          <form action="/auth/sign-in" method="POST">
            <label class="label" for="username">Username:</label>
            <input
              class="input is-success"
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              required
            />
            <br />
            <label class="label" for="password">Password:</label>
            <input class="input is-success" type="password" name="password" id="password" placeholder="Password" required />
            <button class="button is-link mt-2" type="submit">Sign in</button>
            <button class="button is-link is-outlined mt-2">
              <a href="/auth/sign-up">Join Now</a>
            </button>
          </form>
        </div>
      </section>
    </main>
    <%- include('partials/_footer.ejs') %>
  </body>
</html>


